@media only screen and (min-width: 768px) {
  .formNav {
    display: flex;
    margin-bottom: 4vh;
    padding-bottom: 6vh;
    display: flex;
    justify-content: center;
  }
}


@media only screen and (max-width: 768px) {
  .formNav {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
  }
}